.thumbnail{
		width: 100%;
		/*height: 300px; setting height and width will change size of image, but distort its shape
		object-fit: contain; cover will tell the image to fit the specified area and keep its shape
		with contain, entire image will shrink until it fits in the specified box/area
		object-position: right; can do left, right, etc. and the image will show that area instead of default center
		border-width: 2px; border to demonstrate the box that the image is in
		border-style: solid;
		border-color: red;*/
		/*display: block; causes image to take up entire line*/
}

.video-title{ /*if a width is set, text will overflow*/
	font-family: Roboto;
	font-size: 14px;
	font-weight: 500; /*added roboto 500, bold is a number value, usually 700*/
	line-height: 20px; /*changes spacing in between lines*/
	margin-top: 0px;
	margin-bottom: 4px;
	color: black;

	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	white-space: normal;
}

.link{
	text-decoration:none;
}

.video-author,
.video-stats{
	font-size: 12px;
	color: #606060;
}

.video-author{
	margin-bottom: 4px;
	display: inline-block;
}

.video-div{
}

.video-info-grid-div{
	display: grid;
	grid-template-columns: 50px 1fr;
}

.channel-picture-div{
	position: relative;
	height: 36px;
}

.channel-picture-div .channel-tool-tip {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	bottom: -80px;
	width: 200px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
	opacity: 0;
	transition: opacity 0.15s;
	pointer-events: none;
}

.channel-picture-div:hover .channel-tool-tip {
	opacity: 1;
}

.tool-channel-picture {
	width: 45px;
	height: 45px;
	border-radius: 35px;
	padding: 10px 8px 10px 10px;
}

.channel-tool-text{
}

.channel-tool-name {
	font-family: Roboto, Arial;
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 2px;
}

.channel-tool-subs {
	font-family: Roboto, Arial;
	font-size: 12px;
	color: #5F5F5F;
}

.video-info-div {
	position: relative;
}

.channel-picture{
	width: 36px;
	border-radius: 50px;
}

.thumbnail-row-div{
	margin-bottom: 8px;

	position: relative;
}

.video-time{
	position: absolute;
	right: 6px;
	bottom: 10px;

	background-color: black;
	color: white;

	font-size: 12px;

	padding: 4px;
	border-radius: 2px;
}

.video-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 16px;
	row-gap: 40px;
}

.live-button{
	position: absolute;
	bottom: -18px;

	background-color: #c00;
	color: white;

	padding: 1px 6px 1px 6px;

	font-size: 10px;
}

@media (max-width: 750px){
	.video-grid{
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 751px) and (max-width: 999px){
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1000px) {
	.video-grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	/*.video-title {
		font-size: 16px;
		line-height: 24px;
	}

	.video-author,
	.video-stats,
	.channel-tool-subs,
	.video-time {
		font-size: 14px;
	}*/
}